@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;

    /* font-family: 'Bagel Fat One', system-ui;
    font-family: 'Gasoek One', sans-serif;
    font-family: 'Noto Sans KR', sans-serif; */
}
ul, li, ol{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333;
}